# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: generic

os: osx

env:
  matrix:
    
    - CONDA_NPY=111  CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "X6wbkgeTDCBeCXnA2Ia8kcoKsLH05GepFi0tzjCM/kFDRHMad0H68enWUBdRQicg/2rpYooIE5Gbb7aPNYoUMmNFDS1BzuixcPGBAj0OIA6JNg5qZBsNgbioRzm+LWkb2zNpZzI2k0TcTikjDEuwJP5cI4xC73YoMiF4Wgpmk7RSeBOaSqlZgjCQqRObCRNDsmTujqz264D47JX6kiZarwcpy3pREL8ut9FHcNgqLoGxNqdh0h3elKRC7HbS3h+5nqIKOvAyN4kSlZ9fHWJRmuoKUGDy/Tsv+DZ9gcB2Jvb5z9uf6pnUQhpF0K9CDXRK7XndulTwvmk0AoQZuM/XiNaghJbM/gmlfW0hJZ+IJYsx78DDRQX5/iUIby1q9od+tWtovkmPNOpmWnLdsKoMsRZFNaIADs5ddUn5cmftr7aS1k2guV1GEGfgOz7/Ryh5XU1jf2lZhdv1+oqN3lvjTBw5SyMJwe8EWfSIbujMs0ipmMBt4MLX6z+eDsLSNvU3nHunEliH3U8fF0531L1Bb2elTEqVRi443yGodLrxWBieiqjMir63dvSZMsLBeAuMHhwtnc86dgwjla8UMzd248fkeLfBp5UwFxma4yljixuDjUto4QiWm7p887x9V7kSgl1udjy/mUALsEEYK1BpjMI55KIg/E/dB9Bj+TcHHIE="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
